<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jordan Thomas</string>
	<key>Builder Version</key>
	<string>10538.39.41</string>
	<key>CFBundleDisplayName</key>
	<string>BackToFlash</string>
	<key>CFBundleIdentifier</key>
	<string>as.jordanthom.BackToFlash</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>main.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Disables YouTube's HTML5 player, can be used in conjunction with other plugins such as ClickToPlugin</string>
	<key>DeveloperIdentifier</key>
	<string>2KJY9HP9ET</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>youtube.com</string>
				<string>www.youtube.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://jordanthom.as/projects/backtoflash</string>
</dict>
</plist>
